<div class="container">
    <div class="promotion">
        <h1>Our specalities.</h1>
        <div class="row-fluid">

            <div class="competence span6">
                <div class="header">
                    <img src="~/Content/Promotion/webdesign.jpg" alt="">
                    <h3>Analysis and design.</h3>
                </div>
                <div class="body">
                    We are experienced analysts, who will perform a thorough analysis of our clients business model, and design a solution suited for our client's individual needs. By identifying all the important requirements of our clients business, we can assure a fulfilling and well-invested solution.
                </div>
            </div>
            <div class="competence span6">
                <div class="header">
                    <img src="~/Content/Promotion/agilepicture.jpg" alt="">
                    <h3>Project management.</h3>
                </div>
                <div class="body">
                    Out solutions are managed by <a href="http://en.wikipedia.org/wiki/Agile_software_development" data-toggle="tooltip" title="">Agile development</a>, SCRUM and other interation-based project development methodologies. This increases the rate, of which functionality is presented to our clients, that in the long run will result in much more valuable solutions, because of the ongoing feedback. This makes our clients more satisfied with their invesment.
                </div>
            </div>
                   </div>
    </div>
    <hr class="style-two" style="margin-top: 50px; margin-bottom: 50px;" />
    <div class="promotion">
        <h1>Technologies.</h1>
        <div class="row-fluid">
            <div class="competence span4 ">
                <div class="header">
                    <img src="http://upload.wikimedia.org/wikipedia/en/0/0d/Microsoft_.NET_Framework_v4.5_logo.png" alt="">
                    <h3>.NET development.</h3>
                </div>
                <div class="body">
                    Our solutions are developed primarily with the <a href="http://www.microsoft.com/net">.NET platform</a>. This makes us much more flexible in the services we can offer, since Microsoft offers a great deal of frameworks for most's needs. However, if our clients needs cannot be met by the .NET platform, we will look into other technologies without hesitation.
                </div>
            </div>
            <div class="competence span4">
                <div class="header">
                    <img src="http://verekia.com/wp-content/uploads/2011/10/less-css-logo.png" alt="">
                    <h3>LESS (CSS).</h3>
                </div>
                <div class="body">
                    Our solutions' design are styled with LESS (CSS generator), that makes it very convenient to maintain our solutions for any cosmetic requests our customers might have. We think that <a href="http://en.wikipedia.org/wiki/Maintainability">maintainability</a> is one of the most important featues for our customers, so they wont feel misfortuned afterwards.
                </div>
            </div>
            <div class="competence span4">
                <div class="header">
                    <img src="~/Content/Promotion/HTML5_Badge.svg" alt="">
                    <h3>HTML5.</h3>
                </div>
                <div class="body">
                    <a href="http://www.w3schools.com/html/html5_intro.asp" data-toggle="tooltip" title="">HTML5</a> has been one of the hot topic for last couple of years now. Hence our solutions will take advantage of all these features.
                </div>
            </div>
        </div>
    </div>
</div>

