<div class="container">
    <div class="promotion">
        <h1>Our specalities.</h1>
        <div class="row-fluid">

            <div class="competence span4">
                <div class="header">
                    <img src="~/Content/Promotion/webdesign.jpg" alt="">
                    <h3>Analysis and design.</h3>
                    </div>
                <div class="body">
                    Web dev pitch.
                </div>
            </div>
            <div class="competence span4">
                <div class="header">
                    <img src="~/Content/Promotion/agilepicture.jpg" alt="">
                    <h3>Project management.</h3>
                </div>
                <div class="body">
                    Putting the different pieces together is done with <a href="http://en.wikipedia.org/wiki/Agile_software_development" data-toggle="tooltip" title="">Agile development</a>, SCRUM and other effective project development methodologies are used to give our customers a working solution early on. This greatly increase the rate of functionality being deployed, which means our customers gets more value for their invesment.
                </div>
            </div>
            <div class="competence span4">
                <div class="header">
                    <img src="http://blog.watchkart.com/wp-content/uploads/2013/01/watchkart-happy-customer.jpg" alt="">
                    <h3>Happy customers.</h3>
                </div>
                <div class="body">
                    Our customers are always happy!
                </div>
            </div>
        </div>
    </div>
    <hr class="style-two" style="margin-top: 50px; margin-bottom: 50px;" />
    <div class="promotion">
        <h1>Technologies.</h1>
        <div class="row-fluid">
            <div class="competence span4 ">
                <div class="header">
                    <img src="http://upload.wikimedia.org/wikipedia/en/0/0d/Microsoft_.NET_Framework_v4.5_logo.png" alt="">
                </div>
                <div class="body">
                    .NET  pitch.
                </div>
            </div>
            <div class="competence span4">
                <div class="header">
                    <img src="http://verekia.com/wp-content/uploads/2011/10/less-css-logo.png" alt="">
                </div>
                <div class="body">
                    LESS (CSS) pitch.
                </div>
            </div>
            <div class="competence span4">
                <div class="header">
                    <img src="~/Content/Promotion/HTML5_Badge.svg" alt="">
                </div>
                <div class="body">
                    <a href="http://www.w3schools.com/html/html5_intro.asp" data-toggle="tooltip" title="">HTML5</a> has been one of the hot topic for last couple of years now. Hence our solutions will take advantage of all these features.
                </div>
            </div>
        </div>
    </div>
</div>

