@{
    ViewBag.Title = "About";
}
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Message</h3>
    </hgroup>
    <section>
        <h4>Goals</h4>
        <ul class="icons">
            <li><i class="icon-ok"></i>Develop solutions for business value</li>
            <li><i class="icon-ok"></i>Develop SharpMinds' staff competencies</li>
        </ul>
    </section>

    <section>
        <div>
            <h4>Ownership & Placement</h4>
            <div class="span12">
                <span class="label label-inverse">Owner:</span> <code>Carsten Nilsson</code>
            </div>
            <div class="span12">
                <span class="label label-inverse">Address:</span> <code>Langelinie 9, 3. 5. - 2100 Copenhagen</code>

            </div>
            <div class="span12">
                <span class="label label-inverse">Contact:</span> <code>phone 22 66 33 70 - email cani@sharpminds.dk</code>
            </div>
        </div>
    </section>
    @*<aside>
        <h4 class="badge badge-info">We're just getting ready - More coming soon!</h4>
    </aside>*@
</div>
