@model dynamic

@{
    ViewBag.Title = "Customers";
    }
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Message</h3>
        <h4 class="badge badge-info">We're just getting ready - More coming soon!</h4>
    </hgroup>
</div>