@using Sharpminds.Website.Models
@model Sharpminds.Website.Models.MailModel

@{
    ViewBag.Title = "#Minds";
}

@section featured {
    <![if !IE]>
        <script>
            $(function () {
                $('#alert_button').hide();
            });
        </script>
    <![endif]>
    <div class="banner">
        <div class="container">
            <h1 class="text-left">#Minds</h1>
            <hr class="style-six" />
            <p class="text-left">IT Consultancy, webdesign, and solid back to front-end web development.</p>
            <hr class="style-six" />
            <a id="contactUs" class="btn btn-large btn-inverse" data-target="#contactModal" data-toggle="modal">Contact Us</a>
            <div class="alert alert-block alert-error fade in" id="alert_button">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>LIFE THREATENING DANGER</h4>
                <p>STOP USING INTERNET EXPLORER BELOW V.10+</p>
                <p>
                    <a class="btn btn-danger" href="http://www.google.com/intl/da/chrome/browser/">Fix it now!</a>
                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_MessageModal", Model)
}


<div class="clear-fix" style="text-align: center;">
    @Html.Partial("_Promotion")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}